[mysqld]
character_set_client=utf8mb4
character_set_connection=utf8mb4
character_set_database=utf8mb4
character_set_results=utf8mb4
character-set-server=utf8mb4
collation_server=utf8mb4_unicode_ci

innodb_ft_min_token_size=2
ft_min_word_len=2

[client]
default-character-set=utf8mb4
