# air一時ファイル
tmp/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/

# Test binary
*.test

# Output of the go coverage tool
*.out
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env
.env.local
